<!--Start Breadcrumb-->
<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<ol class="breadcrumb">
			<li><a href="#/functionalTask">Functional Task</a></li>
		</ol>
	</div>
</div>
<div ng-controller="functionalTaskController">
	<div class="row" ng-if="!flag">
		<div class="col-xs-12">
			<span class="btn btn-primary" ng-click="update()">Update</span>
			<div class="box">
				<div class="box-name">
					<span>Functional Task</span>
				</div>
				<div class="box-content no-padding">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Functional Task</th>
								<th>Effort Planned(P Hrs)</th>
								<th>Effort Actual(P Hrs)</th>
								<th>Remarks</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Project Planning and tracking</td>
								<td>{{functionalTask.projectPlanningAndTrackingPlanned}}</td>
								<td>{{functionalTask.projectPlanningAndTrackingActual}}</td>
								<td>{{functionalTask.projectPlanningAndTrackingRemarks}}</td>

							</tr>
							<tr>
								<td>Risk management</td>
								<td>{{functionalTask.riskManagementPlanned}}</td>
								<td>{{functionalTask.riskManagementActual}}</td>
								<td>{{functionalTask.riskManagementRemarks}}</td>
							</tr>
							<tr>
								<td>Change Management</td>
								<td>{{functionalTask.changeManagementPlanned}}</td>
								<td>{{functionalTask.changeManagementActual}}</td>
								<td>{{functionalTask.changeManagementRemarks}}</td>
							</tr>
							<tr>
								<td>Total Effort</td>
								<td>{{functionalTask.projectPlanningAndTrackingPlanned+functionalTask.riskManagementPlanned+functionalTask.changeManagementPlanned}}</td>
								<td>{{functionalTask.projectPlanningAndTrackingActual+functionalTask.riskManagementActual+functionalTask.changeManagementActual}}</td>
								<td>0</td>
							</tr>

							<tr>
								<td>SIZE(No of Complex Tasks/Requests)</td>
								<td>{{functionalTask.sizeOfComplexRequestPlanned}}</td>
								<td>{{functionalTask.sizeOfComplexRequestActual}}</td>
								<td>{{functionalTask.sizeOfComplexRequestRemarks}}</td>
							</tr>
							<tr>
								<td>SIZE(No of Medium Tasks/Requests)</td>
								<td>{{functionalTask.sizeOfMediumRequestPlanned}}</td>
								<td>{{functionalTask.sizeOfMediumRequestActual}}</td>
								<td>{{functionalTask.sizeOfMediumRequestRemarks}}</td>
							</tr>
							<tr>
								<td>SIZE(No of Simple Tasks/Requests)</td>
								<td>{{functionalTask.sizeOfSimpleRequestPlanned}}</td>
								<td>{{functionalTask.sizeOfSimpleRequestActual}}</td>
								<td>{{functionalTask.sizeOfSimpleRequestRemarks}}</td>
							</tr>
							<tr>
								<td>Number of Requirements/Stories</td>
								<td>{{functionalTask.sizeOfComplexRequestPlanned*6+functionalTask.sizeOfMediumRequestPlanned*3+functionalTask.sizeOfSimpleRequestPlanned*1}}</td>
								<td>{{functionalTask.sizeOfComplexRequestActual*6+functionalTask.sizeOfMediumRequestActual*3+functionalTask.sizeOfSimpleRequestActual*1}}</td>
								<td>--</td>
								
							</tr>
							<tr>
								<td>Story Points</td>
								<td>{{functionalTask.storyPointsPlanned}}</td>
								<td>{{functionalTask.storyPointsActual}}</td>
								<td>{{functionalTask.storyPointsRemarks}}</td>
							</tr>
							<tr>
								<td>Requests/Requirements/Stories</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="flag">
		<div class="col-xs-12 col-sm-8">
			<div class="box">
				<span class="btn btn-primary" ng-click="back()">Back</span>
				<div class="box-content">
					<form name="FunctionalTaskForm" class="form-horizontal">
						<fieldset>
							<legend>Update Functional Task</legend>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Functional Task</th>
										<th>Effort Planned(P Hrs)</th>
										<th>Effort Actual(P Hrs)</th>
										<th>Remarks</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Project Planning and tracking</td>
										<td><input type="number" class="form-control"
											ng-model="functionalTask.projectPlanningAndTrackingPlanned"
											required="required" /></td>
										<td><input type="number" class="form-control"
											ng-model="functionalTask.projectPlanningAndTrackingActual"
											required="required" /></td>
										<td><input type="text" class="form-control"
											ng-model="functionalTask.projectPlanningAndTrackingRemarks"
											required="required" /></td>

									</tr>
									<tr>
										<td>Risk management</td>
										<td><input type="number" class="form-control"
											ng-model="functionalTask.riskManagementPlanned"
											required="required" /></td>
										<td><input type="number" class="form-control"
											ng-model="functionalTask.riskManagementActual"
											required="required" /></td>
										<td><input type="text" class="form-control"
											ng-model="functionalTask.riskManagementRemarks"
											required="required" /></td>
									</tr>
									<tr>
										<td>Change Management</td>
										<td><input type="number" class="form-control"
											ng-model="functionalTask.changeManagementPlanned"
											required="required" /></td>
										<td><input type="number" class="form-control"
											ng-model="functionalTask.changeManagementActual"
											required="required" /></td>
										<td><input type="text" class="form-control"
											ng-model="functionalTask.changeManagementRemarks"
											required="required" /></td>
									</tr>
									<tr>
										<td>Total Effort</td>
										<td>{{functionalTask.projectPlanningAndTrackingPlanned+functionalTask.riskManagementPlanned+functionalTask.changeManagementPlanned}}</td>
										<td>{{functionalTask.projectPlanningAndTrackingActual+functionalTask.riskManagementActual+functionalTask.changeManagementActual}}</td>
										<td>0</td>
									</tr>

									<tr>
										<td>SIZE(No of Complex Tasks/Requests)</td>
										<td><input type="number" class="form-control"
											ng-model="functionalTask.sizeOfComplexRequestPlanned" /></td>
										<td><input type="number" class="form-control"
											ng-model="functionalTask.sizeOfComplexRequestActual" /></td>
										<td><input type="text" class="form-control"
											ng-model="functionalTask.sizeOfComplexRequestRemarks" /></td>
										<td>
									<tr>
									<tr>
										<td>SIZE(No of Medium Tasks/Requests)</td>
										<td><input type="number" class="form-control"
											ng-model="functionalTask.sizeOfMediumRequestPlanned" /></td>
										<td><input type="number" class="form-control"
											ng-model="functionalTask.sizeOfMediumRequestActual" /></td>
										<td><input type="text" class="form-control"
											ng-model="functionalTask.sizeOfMediumRequestRemarks" /></td>
										<td>
									<tr>
									<tr>
										<td>SIZE(No of Simple Tasks/Requests)</td>
										<td><input type="number" class="form-control"
											ng-model="functionalTask.sizeOfSimpleRequestPlanned" /></td>
										<td><input type="number" class="form-control"
											ng-model="functionalTask.sizeOfSimpleRequestActual" /></td>
										<td><input type="text" class="form-control"
											ng-model="functionalTask.sizeOfSimpleRequestRemarks" /></td>
										<td>
									<tr>
										<td>Number of Requirements/Stories</td>
										<td>{{functionalTask.sizeOfComplexRequestPlanned*6+functionalTask.sizeOfMediumRequestPlanned*3+functionalTask.sizeOfSimpleRequestPlanned*1}}</td>
										<td>{{functionalTask.sizeOfComplexRequestActual*6+functionalTask.sizeOfMediumRequestActual*3+functionalTask.sizeOfSimpleRequestActual*1}}</td>
										<td>--</td>
									</tr>
									<tr>
										<td>Story Points</td>
										<td><input type="number" class="form-control"
											ng-model="functionalTask.storyPointsPlanned" /></td>
										<td><input type="number" class="form-control"
											ng-model="functionalTask.storyPointsActual" /></td>
										<td><input type="text" class="form-control"
											ng-model="functionalTask.storyPointsRemarks" /></td>
									</tr>
									<tr>
										<td>Requests/Requirements/Stories</td>
										<td>0</td>
										<td>0</td>
										<td>0</td>
									</tr>
								</tbody>
							</table>
							<div class="text-center">
								<input type="submit" class="btn btn-primary" value="submit"
									ng-disabled="!FunctionalTaskForm.$valid" ng-click="submit()" />
							</div>
				</div>
			</div>
		</div>
	</div>
</div>
