<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
<meta charset="utf-8">
<title>Work Breakdown Structure</title>
<link
	href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
	rel="stylesheet">
<link href='http://fonts.gfoogleapis.com/css?family=Righteous'
	rel='stylesheet' type='text/css'>
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link rel="stylesheet" href="css/datepicker.css">
<script src="js/jquery-2.1.0.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/devoops.js"></script>
<script src="js/datepicker.js"></script>
<script src="https://code.angularjs.org/1.2.22/angular.js"></script>
<script src="https://code.angularjs.org/1.2.22/angular-cookies.js"></script>
<script src="https://code.angularjs.org/1.2.22/angular-route.js"></script>
<script type="text/javascript" src="js/app/mainApp.js"></script>
<script type="text/javascript" src="js/app/controllers.js"></script>
<script type="text/javascript" src="js/app/ProjectController.js"></script>
<script type="text/javascript"
	src="js/app/UserAllocationToProjectController.js"></script>
<script type="text/javascript" src="js/app/StoryController.js"></script>
<script type="text/javascript" src="js/app/StoryTaskController.js"></script>
<script type="text/javascript" src="js/app/reviewAndBugsController.js"></script>
<script type="text/javascript" src="js/app/ChangePSController.js"></script>
<script type="text/javascript" src="js/app/metricReportController.js"></script>
<script type="text/javascript" src="js/app/storyWiseMetricReportController.js"></script>
<script type="text/javascript" src="js/app/phaseWiseMetricReportController.js"></script>
<script type="text/javascript" src="js/app/resourceWiseMetricReportController.js"></script>
<script type="text/javascript" src="js/app/addUserController.js"></script>
<script type="text/javascript"
	src="js/app/storyMetricReportController.js"></script>
<script type="text/javascript" src="js/app/functionalTaskController.js"></script>
<script type="text/javascript"
	src="js/app/defectLeakageMatricsController.js"></script>
<script type="text/javascript" src="js/app/teamLeavesController.js"></script>
<script type="text/javascript" src="js/app/projectDetailsController.js"></script>
<script type="text/javascript" src="js/app/causalAnalysisController.js"></script>
<script type="text/javascript" src="js/app/defectPreventionPlanController.js"></script>
</head>
<body ng-controller="TopBarController">
	<header class="navbar">
		<div class="container-fluid expanded-panel">
			<div class="row">
				<div id="logo" class="col-xs-12 col-sm-2">
					<a href="home.html">WBS</a>
				</div>
				<div id="top-panel" class="col-xs-12 col-sm-10">
					<div class="row">
						<div class="col-xs-8 col-sm-4">
							<a href="#" class="show-sidebar"> <i class="fa fa-bars"></i>
							</a>
							<div id="search">
								<input type="text" placeholder="search" /> <i
									class="fa fa-search"></i>
							</div>
						</div>

						<div class="col-xs-2 col-sm-4 " style="color: red">
							<h4 ng-if="projectName">
								Active project : {{projectName}}&nbsp&nbsp <small><a
									href="#/projects">Change</a></small>
							</h4>
							<h4 ng-if="!projectName">
								<a href="#/projects">Select Project</a>
							</h4>
						</div>

						<div class="col-xs-4 col-sm-4 top-panel-right">
							<ul class="nav navbar-nav pull-right panel-menu">
								<li class="dropdown"><a href
									class="dropdown-toggle account" data-toggle="dropdown">
										<div class="avatar">
											<img src="img/default.jpg" class="img-rounded" alt="avatar" />
										</div> <i class="fa fa-angle-down pull-right"></i>
										<div class="user-mini pull-right">
											<span class="welcome">Welcome,</span> <span>{{name}}</span>
										</div>
								</a>
									<ul class="dropdown-menu">
										<li><a href="#/changepass"> <i class="fa fa-user"></i>
												<span>Change Password</span>
										</a></li>
										<li><a href="#"> <i class="fa fa-power-off"></i> <span
												ng-click="logout()">Logout</span>
										</a></li>
									</ul></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!--End Header-->

	<!--Start Container-->
	<div id="main" class="container-fluid">
		<div class="row">
			<div id="sidebar-left" class="col-xs-2 col-sm-2">
				<ul class="nav main-menu">
					<li><a href="#/coverpage" class="active ajax-link"> <i
							class="fa fa-dashboard"></i> <span class="hidden-xs">Home</span>
					</a></li>
					<li class="dropdown"><a href="#/addUser"> <i
							class="fa fa-desktop"></i> <span class="hidden-xs">Users</span>
					</a></li>
					<li><a href="#/projects"> <i class="fa fa-dashboard"></i>
							<span class="hidden-xs">Projects</span>
					</a></li>
					<li class="dropdown" ng-if="projectName"><a href="#"
						class="dropdown-toggle"> <i class="fa fa-bar-chart-o"></i> <span
							class="hidden-xs">Metrics Data</span>
					</a>
						<ul class="dropdown-menu">
							<li><a href="#/functionalTask">Functional Task</a></li>
							<li><a href="#/stories">Stories</a></li>
							<li><a href="#/storytask">Task</a></li>
						</ul></li>

					<li class="dropdown" ng-if="projectName"><a href="#"
						class="dropdown-toggle"> <i class="fa fa-table"></i> <span
							class="hidden-xs">Defects and DP Plan</span>
					</a>
						<ul class="dropdown-menu">
							<li><a class="ajax-link" href="#/reviewCommentsAndBugs">Review
									comments and Bugs</a></li>
							<li><a class="ajax-link" href="#/defectLeakageMatrics">Defect
									Leakage Metric</a></li>
							<li><a class="ajax-link" href="#/causalAnalysis">Causal
									analysis</a></li>
							<li><a class="ajax-link" href="#/defectPreventionPlan">Defect
									Prevention plan</a></li>
						</ul></li>

					<li class="dropdown" ng-if="projectName"><a href="#"
						class="dropdown-toggle"> <i class="fa fa-pencil-square-o"></i>
							<span class="hidden-xs">Reports</span>
					</a>
						<ul class="dropdown-menu">
							<li><a class="ajax-link" href="#/metricReport">Metric
									Report</a></li>
							<li class="dropdown" ng-if="projectName"><a href="#"
								class="dropdown-toggle"> <i class="fa fa-pencil-square-o"></i>
									<span class="hidden-xs">Story Metric Reports</span>
							</a>
								<ul class="dropdown-menu">
									<li><a class="ajax-link" href="#/storyWiseMetricReport">Story
											Wise</a></li>
									<li><a class="ajax-link" href="#/phaseWiseMetricReport">Phase
										    Wise</a></li>
									<li><a class="ajax-link" href="#/resourceWiseMetricReport">Resource
											Wise</a></li>
								</ul></li>
							<li><a href="#/teamLeaves"> <i class="fa fa-dashboard"></i>
									<span class="hidden-xs">Team Leaves</span>
							</a></li>
							<li><a class="ajax-link" href="#/projectDetails">Project
									Details</a></li>
						</ul></li>
					<li><a href="#/teamLeaves"> <i class="fa fa-dashboard"></i>
							<span class="hidden-xs">Team Leaves</span>
					</a></li>

				</ul>
			</div>

			<!--Start Content-->
			<div id="content" class="col-xs-12 col-sm-10">
				<div ng-view></div>
			</div>
			<!--End Content-->
		</div>
	</div>
</body>
</html>
