<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.wbs" />
	<context:component-scan base-package="com.wbs.security" />
	
	<mvc:default-servlet-handler />
	<mvc:annotation-driven />

	<!-- Mail service -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="nisumwbs@gmail.com" />
		<property name="password" value="nisum123" />
		<property name="javaMailProperties">
			<props>
				<!-- Use SMTP transport protocol -->
                <prop key="mail.transport.protocol">smtp</prop>
				<!-- Use SMTP-AUTH to authenticate to SMTP server -->
				<prop key="mail.smtp.auth">true</prop>
				<!-- Use TLS to encrypt communication with SMTP server -->
				<prop key="mail.smtp.starttls.enable">true</prop>
			</props>
		</property>
	</bean>

	<!-- Mail message -->
	<bean id="mailMessage" class="org.springframework.mail.SimpleMailMessage">
		<property name="from" value="nisumwbs@gmail.com" />
		<property name="subject" value="Your Login Credentials for eWBS" />
	</bean>
	
	<!-- You can have some pre-configured messagess also which are ready to send -->
    <bean id="preConfiguredMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="to" value="pradeeprawate@gmail.com"></property>
        <property name="from" value="nisumwbs@gmail.com"></property>
        <property name="subject" value="FATAL - Application crash !!"/>
    </bean>

	<util:properties id="app" location="classpath:application.properties" />
	<context:property-placeholder
		properties-ref="app" />

	<import resource="classpath:mongo-context.xml" />

</beans>